<Reconnector>
    <ReconnectingTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>网络连接异常</h5>
                    <div class="mb-2"><b>正在尝试重新连接服务器</b></div>
                    <div class="mb-2">服务器正在更新新版本，稍等一会儿即可提供服务，或者 <kbd>F12</kbd> 打开 <b>Developer tools</b> 查看 <b>控制台</b> 是否有错误输出。</div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary">重新连接</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>网络连接异常</h5>
                    <div class="mb-2"><b>与服务器连接失败</b></div>
                    <div class="mb-2">请确认网络是否正常，或者 <kbd>F12</kbd> 打开 <b>Developer tools</b> 查看 <b>控制台</b> 是否有错误输出。</div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary mb-2">重新连接</a>
                        <a href="javascript:location.reload()" class="btn btn-info">重新加载</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>网络连接异常</h5>
                    <div class="mb-2"><b>服务器拒绝连接</b></div>
                    <div class="mb-2">所有的连接尝试都被拒绝了，这很有可能是由于网络问题或者服务器问题引起的。</div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <a href="javascript:location.reload()" class="btn btn-info">重新加载</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectRejectedTemplate>
</Reconnector>

@code {
    RenderFragment RenderBootstrapBlazor =>
    @<div class="col-12 col-sm-5">
        <h5><b>MES</b> 信息系统</h5>
        <div class="d-flex">
            <div class="flex-fill">
                <div class="mb-2">一套面向生产制造企业车间执行层的生产信息化管理系统。</div>
            </div>
            <div class="connection-body-tail d-none d-sm-block"></div>
        </div>
    </div>;
}
